.rc-full-width {
    width: 100%;
}

.rc-left {
    width: 30%;
}

.rc-right{
  width: 70%;
}

.rc-chats{
    height: 70%;
}

.rc-channel {
    display: block;
    padding-left: 20px;
    font-size: 20px;
    height: 65px;
}
.active {
    background: #0078e7;
}

.rc-main {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#id-div-chats {
    /*background: red;*/
    height: 70%;
    overflow-y: scroll;
}

.rc-input {
    height: 30%;

}
