.rc-full-width {
    width: 100%;
}

.rc-left {
    width: 30%;
    border-color: #c1b5b5;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

.rc-right{
  width: 70%;
}

.rc-chats{
    height: 70%;
}

.rc-title-h1{
    color: #0078e7;
    padding-left: 50px;
}

.rc-channel {
    display: block;
    padding-left: 67px;
    font-size: 20px;
    height: 49px;
    padding-top: 17px;
    color: #a7a6a4;
}

.rc-chats-title {
    color: #f1f1f1;
    height: 50px;
    padding: 15px 44%;
    font-size: 18px;
    line-height: 49px;
}

.active {
    background: #0078e7;
}

.rc-main {
  display: flex;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

#id-div-chats {
    height: 62%;
    overflow-y: scroll;
    padding-top: 15px;
}

.rc-input {
    height: 30%;
}

.rc-form {
    border-radius: 0px;
    border-color: #c1b5b5;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.chat-item__content {
    position: relative;
    left: 65px;
    bottom: 41px;
}

.chat-item__text {
    background: #d5f1ff;
    border-radius: 10px;
    padding: 10px;
}

.chat-item__time {

}

.left:before{
    position:absolute;
    content:"\00a0";
    width:0px;
    height:0px;
    border-width:8px 18px 8px 0;
    border-style:solid;
    border-color:transparent #d5f1ff transparent transparent;
    top:15px;
    left:-18px;
}

.right:before{
    position:absolute;
    content:"\00a0";
    display:inline-block;
    width:0px;
    height:0px;
    border-width:8px 0px 8px 18px;
    border-style:solid;
    border-color:transparent transparent transparent #d5f1ff;
    left:250px;
    top:15px;

}

